/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.theme-default .nivoSlider{position:relative;background:url(../images/loading.gif) no-repeat 50% 50%;margin-bottom:0; min-height:550px;}

.nivoSlider{position:relative;width:100%;height:auto;overflow:hidden}
.nivoSlider img{position:absolute;top:0;left:0;max-width:none}
.nivo-main-image{display:block!important;position:relative!important;width:100%!important}
.nivoSlider a.nivo-imageLink{position:absolute;top:0;left:0;width:100%;height:100%;border:0;padding:0;margin:0;z-index:6;display:none;background:#fff;filter:alpha(opacity=0);opacity:0}
.nivo-slice{display:block;position:absolute;z-index:5;height:100%;top:0}
.nivo-box{display:block;position:absolute;z-index:5;overflow:hidden}
.nivo-box img{display:block}
.nivo-caption{position:absolute;left:0; right:0; top:50%; transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); -o-transform:translateY(-50%); -webkit-transform:translateY(-50%);color:#252525;z-index:8;padding:0;display:none;text-align:center}
.slide_info{margin-bottom:10px}
.slide_info h2{ font-size:46px; font-weight:600; color:#252525; margin:0 0 15px;  text-transform:uppercase; }
.slide_info p{ font-size:16px;}


.nivo-caption a{display:inline-block!important}
.slide_more{color:#fff;font-size:14px}
.slide_more a{background-image:url(../images/arrow_1.png);background-repeat:no-repeat;background-position:100px center;color:#fff;padding:10px 40px 10px 15px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;text-transform:uppercase}
.nivo-html-caption{display:none}
.nivo-directionNav a{position:absolute;z-index:9;cursor:pointer; font-size:0;}
.nivo-prevNav{left:0}
.nivo-nextNav{right:0}
.nivo-controlNav{text-align:center;padding:15px 0}
.nivo-controlNav a{cursor:pointer}
.nivo-controlNav a.active{font-weight:700}
.theme-default{position:relative}

.theme-default .nivoSlider img{position:absolute;top:0;left:0;display:none}
.theme-default .nivoSlider a{display:block}
.theme-default .nivo-controlNav{position:absolute;bottom:0;text-align:center;padding:10px 0;width:100%;margin:0 auto;z-index:8;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; display:none;}
.theme-default .nivo-controlNav a{display:inline-block; border-radius:100%; width:20px;height:20px;text-indent:-9999px;border:0;margin:0 3px;}
.theme-default .nivo-controlNav a.active{background-position:0 -16px}
.theme-default .nivo-directionNav a.nivo-prevNav{ top:0;}
.theme-default:hover .nivo-directionNav a{opacity:1}
.theme-default .nivo-controlNav.nivo-thumbs-enabled{width:100%}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a{width:auto;height:auto;background:none;margin-bottom:5px}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img{display:block;width:120px;height:auto}