footer {
    .content-footer {
        background-color: $color_gray;
        color: $color_white;
        padding: 38px 0 30px 0;
        .social-icons {
            margin-bottom: 15px;
            a {
                width: 32px;
                height: 32px;
                border: 1px solid $color_white;
                border-radius: 50%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                &:not(:last-child) {
                    margin-right: 8px;
                }
                &:hover {
                    background-color: $color_marron;
                }
            }
        }
        .design-by {
            color: #9BA0A5;
            padding: 4px 10px;
            font-size: 15px;
            a {
                color: #bbbaba;
            }
        }
    }
    	
}
