$color_blue: #fcba00;
$color_cyan: #0791e6;
$color_white: #fff;
$color_gray_2: #7d7d7d;
$color_black: #000;
$color_red: #ff331b;

$color_gray: #646464;
$color_pink: #F7578E;
$color_marron: #803C0D;

$font_family: 'Open Sans', sans-serif;
$font_family_alt: 'Caveat', sans-serif;
